<div class="d-flex flex-column flex-sm-row align-items-center mb-5 pb-4 border-bottom">
  <img src="https://github.com/FibrAlexx.png" alt="Alexis" class="rounded-circle mb-3 mb-sm-0 me-sm-4" style="width: 100px; height: 100px; object-fit: cover;">
  
  <div>
    <h1 class="fw-bold h2 mb-2">Bonjour, moi c'est Alexis 👋</h1>
    <p class="text-muted mb-0">
      Bienvenue sur mon espace ! Ici, je partage mes articles (notamment sur l'exploitation binaire, Stack/Heap, IoT, ROP), mes documents et mes projets.
    </p>
  </div>
</div>
